:root {
	--bg-color: #E7E7E7;
	--bg-color-trasp: #E7E7E7dd;
	--text-color: #1E1E1E;
	--text-color-trasp: #1E1E1E99;
}

@font-face {
   font-family: "Open Sans";
   src: url("./fonts/OpenSans-Variable.ttf");
}
@font-face {
   font-family: "Source Serif 4";
   src: url("./fonts/SourceSerif4-Variable.ttf");
}


html {height:100%;}
body {
	height:100%; 
	margin:0 auto; 
	padding:0; 
	width:100%;
	background-color: var(--bg-color);
	color: var(--text-color);
	
	/*	font-family: 'Open Sans', sans-serif;  */
	font-family: 'Source Serif 4', TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
	font-weight: 400;
}

strong, b { font-weight: 600; }
.wp-block-table td, .wp-block-table th { border: none; }

.ip24Carousel {
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    max-width: 100vw;
    transform: translateZ(0);
    will-change: transform
}

.ip24CarouselControl {
    cursor: pointer
}

.ip24Carousel::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none
}

.ip24Carousel>.ip24CarouselItem {
    scroll-snap-align: start;
    flex-shrink: 0;
    position: relative;
    max-width: 100%;
    width: 100%;
    text-align: center
}

.ip24Carousel>.ip24CarouselItemActive:before {
    content: "Sono Attiva";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    margin-left: -25px;
    padding: 10px;
    background: rgba(0,0,0,.5);
    color: #fff;
    text-align: center
}

.ip24CarouselDisabled {
    opacity: .15
}


#introbg {
	position:fixed; 
	top:0; 
	left:0; 
	width:100%; 
	height:100%;
	background: url(./images/bg2024.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-size: cover;
}
#introbg > img { height: 100vh; }
#page {
	position: relative;
	z-index: 1;
	height: auto;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}



/* HEADER */
.site-header.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100lvw;
	height: 70px;
	z-index: 10;
	padding: 0 5lvw;
	background: #fffd;
}

.site-header.site-header-big {
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-around;
	position: initial;
	background: transparent;
}

#site-navigation {
	position: fixed;
	z-index: 10;
	top: 3lvh;
	left: 5lvw;
	width: 90lvw;

	display: flex;
	flex-flow: column;
	align-items: flex-end;
	justify-content: space-between;

	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
}

#site-navigation .menu-imperatoriepartners-container {
	opacity: 1;
	width: 85vw;
	height: 100lvh;
	position: absolute;
	top: -3lvh;
	left: 100vw;
	overflow: hidden;
	transition: all 350ms ease-in-out;
}
#site-navigation.toggled .menu-imperatoriepartners-container {
	opacity: 1;
	left: 10lvw;
}

#site-navigation.toggled #primary-menu {
	background-color: var(--text-color);
	padding: 120px 5vw 20px 5vw;
	display: flex;
	flex-flow: column;
	align-items: flex-end;
	justify-content: flex-start;
	height: 100%;
	font-size: 20px;
	line-height: 30px;
	position: initial;
	width: 100%;
	margin-bottom: 5px;
}
#site-navigation #primary-menu a {
	padding: 15px 0;
	color: var(--bg-color);
	text-transform: uppercase;
	text-align: right;
	width: 100%;
}



#site-navigation .menu-toggle {
	background-color: transparent;
	border: none;
	position: relative;
	z-index: 1;
	text-indent: -9999px;
	border-top: 2px solid var(--text-color);
	border-bottom: 2px solid var(--text-color);
	border-radius: 0;
	padding: 0;
	width: 30px;
	height: 20px;
	transition: all 300ms ease-in-out;
}
#site-navigation .menu-toggle:before {
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;
	top: 7px;
	width: 30px;
	height: 2px;
	background-color: var(--text-color);
	transition: all 300ms ease-in-out
}
#site-navigation.toggled .menu-toggle {
	border-top: 2px solid var(--bg-color);
	border-bottom: 2px solid var(--bg-color);
}
#site-navigation.toggled .menu-toggle:before {
	background-color: var(--bg-color);
}



.site-header.site-header .site-branding {
	width: 50vw;
	max-width: 200px;
}
.site-header.site-header .site-branding .site-title {
	padding: 10px 0;
	margin: 0;
 }
.site-header.site-header-big .site-branding {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: flex-start;
	width: 70vw;
	margin-top: 15lvh;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
}

.site-header:not(.site-header-big) + #primary {
	width: 100%;
	max-width: 1200px;
	min-height: calc(100lvh - 180px);
	margin: 0 auto;
	margin-top: 70px;
	padding: 0 5vw;
}


@media only screen and (min-width: 37.5em) {
	.site-header:not(.site-header-big) + #primary {
		margin-top: 130px;
		min-height: calc(100lvh - 240px);
	}

	.site-header:not(.site-header-big) #site-navigation {
		position: fixed;
		z-index: 3;
		top: 70px;
		left: 0;
		width: 100vw;
		background: #fffd;
	}
	.site-header.site-header-big #site-navigation {
		position: fixed;
		z-index: 3;
		top: initial;
		bottom: 5lvh;
		width: 90lvw;
		background-color: var(--text-color);
		border-radius: 3px;
	}
	#site-navigation .menu-imperatoriepartners-container {
		position: initial;
		width: 100%;
		height: auto;
		margin-top: 0;
		opacity: 1;
	}
	.site-header:not(.site-header-big) #site-navigation .menu-imperatoriepartners-container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;		
	}
	#site-navigation #primary-menu {
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-around;
	}
	.site-header:not(.site-header-big) #site-navigation #primary-menu {
		justify-content: space-between;
		padding: 0 5vw;
	}
	#site-navigation.toggled #primary-menu ul {
		font-size: 14px;
		line-height: 24px;
	}
	.site-header:not(.site-header-big) #site-navigation #primary-menu a { color: var(--text-color); }
	.site-header:not(.site-header-big) .site-branding {
		margin: 0 auto;
	}
	.site-header.site-header-big .site-branding {
		width: 330px;
		max-width: 330px;
		margin-left: 50vw;
		padding-bottom: 10lvh;
		font-size: 20px;
		line-height: 26px;
	}
}

/* HP IN EVIDENZA */
section.container-offers {
	position: relative;
	z-index: 2;
	/*background: var(--text-color);
	color: var(--bg-color);*/
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: space-around;
	width: 100lvw;
	padding-bottom: 20px;
}
section.container-offers .wp-block-heading,
section#chi-siamo .wp-block-heading,
section#contatti .wp-block-heading,
.page-title,
.entry-title {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 5vw 20px 5vw;
	color: var(--text-color);
	font-family: 'Source Serif 4', TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
	font-size: 36px;
	letter-spacing: .5px;
	font-weight: 500;
	line-height: 42px;
	text-transform: uppercase;
	margin-bottom: 30px;
}

section#chi-siamo,
section#contatti {
	scroll-margin-top: 50px;
}

section.container-offers .offer-card {
	width: 100%;
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
	text-decoration: none;
	margin-bottom: 60px;
}

figure.offer-card-pic {
    position: relative;
    top: 0;
    left: 0;
}
figure.offer-card-pic img {
	max-height: 300px;
	max-width: 100%;
	object-fit: cover;
	border-radius: 3px;
}
.offer-card-text {
	width: 90vw;
	margin: 0 5vw;
	background-color: var(--bg-color-trasp);
	padding: 0px 5vw;
	border-radius: 3px;
	color: var(--text-color);
	line-height: 20px;
	margin-top: -75px;
	z-index: 1;
}

.offer-card-tit {
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	font-weight: 600;
	margin: 20px 0 0 0;
}

@media only screen and (min-width: 37.5em) {
	section.container-offers .wp-block-heading,
	section#chi-siamo .wp-block-heading,
	section#contatti .wp-block-heading,
	.page-title,
	.entry-title { 
		font-size: 48px;
		letter-spacing: 2px;
		font-weight: 500;
		margin: 90px auto 30px auto;
	}
	section.container-offers .offer-card { 
		flex-flow: row;
		max-width: 1200px;
		margin: 0 auto;
	}
	section.container-offers .offer-card:nth-child(odd) { flex-flow: row-reverse; }

	figure.offer-card-pic img {
		max-height: 50lvh;
		max-width: 50lvw;
	}
	.offer-card-text {
	position: absolute;
	width: 50lvw;
	max-width: 600px;
	right: 5lvw;
	margin-top: 0;
	}
	.offer-card:nth-child(odd) .offer-card-text {
		left: 5lvw;
	}
}


/* CHI SIAMO - CONTATTI */
.chi-siamo-block .wp-block-cover,
.contatti-block .wp-block-cover { 
	padding:0;
	z-index: 2;
}
.chi-siamo-block .wp-block-cover .wp-block-cover__inner-container p,
.contatti-block .wp-block-cover .wp-block-cover__inner-container p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 48px;
	line-height: 60px;
	color: var(--bg-color);
	text-transform: uppercase;
	margin-bottom: 0;
	text-align: left;
	position: absolute;
	bottom: 0;
}
.chi-siamo-block p,
.contatti-block p,
.chi-siamo-block .wp-block-table {
	width: 80vw;
	max-width: 1024px;
	margin: 0 auto;
}
.chi-siamo-block p,
.contatti-block p {
    margin: 0 auto 60px auto;
    font-size: 18px;
}

.contatti-block form p {
	margin: 20px auto;
}
.contatti-block p span.msglabel {
	display: block;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
}
.contatti-block input,
.contatti-block textarea {
	max-width: 80vw;
	margin: 0;
	padding: 3px 5px;
	background: transparent;
	border: none;
	background-color: var(--bg-color-trasp);
	font-size: 26px;
	color: var(--text-color);
}
.contatti-block input[type="submit"] {
	padding: 10px 50px;
	float: right;
	background-color: var(--text-color);
	color: var(--bg-color);
	text-transform: uppercase;
}

@media only screen and (min-width: 37.5em) {
	.chi-siamo-block .wp-block-cover .wp-block-cover__inner-container, 
	.contatti-block .wp-block-cover .wp-block-cover__inner-container { 
		max-width: 1200px;
		margin: 0 auto;
	}
	.chi-siamo-block .wp-block-cover .wp-block-cover__inner-container p, 
	.contatti-block .wp-block-cover .wp-block-cover__inner-container p { 
		font-size: 72px;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;
	}
}




/* ELEMENTI IN PAGINE/ARCHIVI */

.archive .page-header,
.single .entry-header {
	margin: 40px 0;
	flex: 1 0 100%;
	display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.single .entry-header {
	position: relative;
	margin-bottom: 20px;
}

.single .entry-header .post-thumbnail {
	margin: 8px 30px 0 0;
	flex: 0 0 75px;
	height: 75px;
	border-radius: 2px;
	overflow: hidden;
}

.single .entry-header .entry-text {
	flex: 1 0 calc(100% - 105px);
	height: auto;
}
.single .entry-header .entry-text .cat-links a,
.single .entry-header .entry-text .tag-links a {
    padding: 0 0 20px 0;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    color: var(--text-color-trasp);
    text-decoration: none;
}
.single .entry-header .entry-text .entry-title {
	padding: 0;
    padding-bottom: 0;
    font-size: 30px;
    line-height: 30px;
}


.single .entry-header .entry-toolbar {
	border-top: 1px solid var(--text-color-trasp);
	margin-top: 10px;
	padding-top: 5px;
    width: 100%;
    height: 30px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.single .entry-header .entry-toolbar a {
	color: var(--text-color);
	text-decoration: none;
	text-transform: uppercase;
}
.single .entry-header .entry-toolbar #entry-img,
.single .entry-header .entry-toolbar #entry-share,
.single .entry-header .entry-toolbar #entry-print {
    background: url(./images/ico-images.svg) no-repeat 0px 5px transparent;
    background-size: 20px;
    padding-left: 25px;
    height: 30px;
    display: inline-block;
}
.single .entry-header .entry-toolbar #entry-share {
    background: url(./images/ico-share.svg) no-repeat 0px 5px transparent;
    background-size: 20px;
}
.single .entry-header .entry-toolbar #entry-print {
    background: url(./images/ico-print.svg) no-repeat 0px 5px transparent;
    background-size: 20px;
}

.single .entry-content {
	margin-top: 0px;
}

span#entry-info {
    background: url(./images/ico-info.svg) no-repeat 5vw 6px;
    background-size: 20px;
    background-color: var(--text-color-trasp);
    display: flex;
    width: 100vw;
    max-width: 1200px;
    padding: 5px calc(5vw + 25px);
    margin-left: -5vw;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--bg-color-trasp);
}

.single .photoset-wrapper {
    position: relative;
}
.single .ip24Carousel {
	width: 100vw;
    left: -5vw;
    position: relative;
    padding: 40px 0;
    background: #fff;
}

.single .ip24Slide {
	margin: 0 5px 0 0;
	width: 90vw;
	border-radius: 2px;
	overflow: hidden;
    display: flex;
}
.single .ip24Slide img {
    width: 100%;
    object-fit: cover;
    /* object-fit: contain; */
}

.single .ip24CarouselPrev,
.single .ip24CarouselNext {
	background: url(./images/next-slide.svg) no-repeat center center transparent;
	background-size: 30px;
	text-indent: -9999px;
	display: block;
	width: 35px;
	height: 110px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -5vw;
}
.single .ip24CarouselPrev {
	background: url(./images/prev-slide.svg) no-repeat center center transparent;
	right: initial;
	left: -5vw;
}



.single .photoset-desktop-wrapper {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    margin: 70px 0;
}


.single .ip24Thumbs {
	flex: 0 0 200px;
	display: flex;
	flex-flow: row wrap;
	column-gap: 10px;
	row-gap: 10px;
	margin: 0;
}
.single .ip24Thumbs > figure {
	width: 90px;
	margin: 0;
	display: flex;
	border-radius: 2px;
	overflow: hidden;
	cursor: pointer;
	opacity: .7;
	transition: opacity 300ms ease-in-out;
}
.single .ip24Thumbs > figure:hover,
.single .ip24Thumbs > figure.selected {
	opacity: 1;
}
.single .ip24Thumbs > figure img {
	width: 100%;
    object-fit: cover;
}

.single #ip24Pic {
    flex: 1 0 calc(100% - 200px);
    display: flex;
    border-radius: 2px;
    overflow: hidden;
}

.single footer.entry-footer {
	border-top: 1px solid var(--text-color-trasp);
	margin: 20px 0 80px 0;
	padding-top: 5px;
	width: 100%;
	height: 30px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	font-size: 14px;
	line-height: 30px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
}
.single footer.entry-footer a {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--text-color-trasp);
}
.single p.edit-link .post-edit-link {
    position: fixed;
    z-index: 100;
    right: 5vw;
    top: 75px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px 10px 3px 40px;
    background: url(./images/ico-edit.svg) no-repeat 8px 4px var(--bg-color-trasp);
    background-size: 25px;
    color: var(--text-color);
    border-radius: 3px;
}

.single .nav-links {display: none;}


.archive article {
	background-color: #fffc;
	width: 90vw;
	margin-left: 0;
	border-radius: 4px;
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	padding: 10px;
}
.archive article * { margin: 0; }

.archive article .post-thumbnail {
border-radius: 4px;
	height: 225px;
	width: 100%;
	overflow: hidden;
	position:  relative;
}
.archive article .post-thumbnail:hover:after {
	background-color: #fff4;
}
.archive article .post-thumbnail:after {
    content: "DETTAGLI";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    background-color: #fff2;
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
    border-radius: 1px;
    padding: 2px 10px;
    transform: translate3d(-50%, -50%, 0px);
    transition: background-color 300ms ease-in-out;
}
.archive article .post-thumbnail img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.archive article .entry-title a {
	color: var(--text-color);
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
	line-height: 24px;
	font-weight: 600;
	margin: 10px 5px 0 5px;
	display: inline-block;
}
.archive article .entry-content {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
 }
.archive article .entry-title { 
	padding: 0; 
    letter-spacing: -0.5px;
    text-transform: none;
}

.archive article .entry-content p {
	margin: 10px 5px 0 5px;
}



.yith-infs-loader {
    display: block;
    width: 100%;
}



@media only screen and (min-width: 37.5em) {
	.single .entry-header .post-thumbnail {
		margin-top: 8px;
		flex: 0 0 100px;
		height: 100px;
	}
	.single .entry-header .entry-text {
		flex: 1 0 calc(100% - 130px);
	}

	.single .entry-header .entry-text .entry-title {
	    font-size: 48px;
	    line-height: 60px;
	    margin: 0;
	}

	span#entry-info {
		position: relative;
		top: -50px;
		left: 50%;
		transform: translateX(-50%);
		width: auto;
		min-width: 250px;
		display: inline-block;
		text-align: center;
		background-position: 10px 11px;
		margin-left: -10px;
		padding: 10px 35px;
	}

	.archive .site-main {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		justify-content: space-between;
	}
	.archive .page-title { 
		padding: 0;
		margin: 30px 0px;
	}
	.archive article {
		width: auto;
		flex: 0 0 30%;
		margin: 0 0 40px 0;
	}
	p.edit-link .post-edit-link {
		right: 30px;
		top: 150px;
	}
}


/* FOOTER */
.site-footer {
	z-index: 15;
	background-color: var(--text-color);
	color: var(--bg-color);
	padding: 3vh 5vw;
	width: 100%;
	text-align: center;
	height: 110px;
}

.site-footer .footer-logo {
	background: url(./images/IMPERATORI&PARTNERS-white.svg) no-repeat 0 0;
	background-size: contain;
	width: 112px;
	height: 50px;
	display: inline-block;
	padding: 0;
	margin: 0;
	text-indent: -9999px;
}
.site-footer .site-info p {
	padding: 0;
	margin: 0;
	font-size: 13px;
}

@media only screen and (min-width: 37.5em) {
}





@media print {
	body { background:#fff }
	.site-header.site-header { position:absolute; }
	.site-header.site-header .site-branding { 
		margin: 0 auto; 
		max-width:275px;
	}
	.site-header:not(.site-header-big) + #primary { margin-top: 80px }
	#primary-menu,
	.edit-link,
	#site-navigation, 
	#introbg, 
	.single .ip24Thumbs, 
	.entry-footer .cat-links, 
	.entry-footer .tags-links, 
	.site-footer { 
		display:none; 
	}
	.single .entry-header .entry-toolbar #entry-print { 
		background-image: url(''); 
		background-size:0px 
	}
	#entry-print a { display:none; }
	#entry-print:after { content: "Tel. 02 39529233"; }
	#ip24Pic img { height: 350px; }
	span#entry-info {
		background: transparent;
		color: var(--text-color);
		font-weight: 600;
		padding: 10px;
		margin: 0 auto;
		position: relative;
		top: -50px;
		right: 0;
		width: 200px;
		text-align: center;
		height: 0;
		display: block;
	}
	.entry-footer { margin: 0; height:1px }


}